.header {
  width: 100%;
  display: flex;
  top: 0px;
  position: relative;
}

.main {
  width: 60%;
  height: 400px;
  display: flex;
  margin: auto;
  position: relative;
  background-color: rgba(99, 99, 99, 0.178);
  border-radius: 20px;
  border: 2px solid rgba(99, 99, 99, 0.719);
}

.c-logo {
  margin: auto;
  margin-left: 150px;
}

.logo {
  height: 160px;
  width: 300px;
  padding: 1.5em;
  will-change: filter;
  border-radius: 40px;
}

/* 
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;

  top: 0;
  position: fixed;
  width: 100%;
}

.title {
  text-align: left;
  margin: auto 0;
  margin-top: 70px;
}*/
