#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 200px;
  width: 200px;
  padding: 1.5em;
  will-change: filter;
  filter: drop-shadow(0 0 2em #646cffaa);
  border-radius: 50px;
}

.app {
  margin: 0 auto;
  text-align: center;
}
