:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(29, 29, 29, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: rgba(29, 29, 29, 0.87);
  --primary-hover: #512da8;
  --primary-focus: transparent;
  --primary-inverse: #fff;
  --h1-color: rgb(0, 0, 0);
  --h2-color: rgba(29, 29, 29, 0.87);
  --form-element-background-color: #fff;
  --form-element-border-color: rgba(29, 29, 29, 0.87);
}

.header {
  width: 100%;
  display: flex;
  top: 0px;
  position: relative;
  background-color: #fbf2d7;
}

.c-logo {
  margin: auto;
  margin-left: 150px;
}

.logo {
  height: 160px;
  width: 300px;
  padding: 1.5em;
  will-change: filter;
  border-radius: 40px;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  background-color: #ffffff;
}

nav {
  margin: auto;
}

nav > ul {
  margin-left: -450px !important;
  width: 100px;
}

li {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 50px !important;
  height: 40px !important;
  padding: 0 !important;
}

a {
  font-size: 30px;
  color: #2a2a2a;
  margin: auto;
}

select {
  width: 200px;
  height: 40px;
  padding: 5px;
  color: #2a2a2a;
}

.global {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.content-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  width: 28%;
  margin: auto;
  background: #fff;
  padding: 15px;
  margin-bottom: 40px;
  margin-top: 30px;
}

hgroup > h2 {
  margin-bottom: 20px !important;
}

article > div > p {
  color: rgba(29, 29, 29, 0.87);
  font-size: 1.5rem;
}

.price {
  text-align: end;
  margin-top: 50px;
  margin-right: 15px;
}

article > div > button {
  margin: auto;
  padding: 5px 10px;
}

/* 
.main {
  width: 60%;
  height: 400px;
  display: flex;
  margin: auto;
  margin-top: 50px;
  position: relative;
  background-color: rgba(99, 99, 99, 0.151);
  border-radius: 20px;
  border: 2px solid rgba(99, 99, 99, 0.719);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;

  top: 0;
  position: fixed;
  width: 100%;
}

.title {
  text-align: left;
  margin: auto 0;
  margin-top: 70px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*/
