:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(29, 29, 29, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: rgba(29, 29, 29, 0.87);
  --primary-hover: #512da8;
  --primary-focus: transparent;
  --primary-inverse: #fff;
  --h1-color: rgba(29, 29, 29, 0.87);
  --h2-color: rgba(29, 29, 29, 0.87);
  --form-element-background-color: #fff;
  --form-element-border-color: rgba(29, 29, 29, 0.87);
  --form-element-disabled-background-color: rgba(151, 150, 150, 0.425);
}

.header {
  width: 100%;
  display: flex;
  top: 0px;
  position: relative;
  background-color: #fbf2d7;
}

.c-logo {
  margin: auto;
  margin-left: 150px;
}

.logo {
  height: 160px;
  width: 300px;
  padding: 1.5em;
  will-change: filter;
  border-radius: 40px;
}

.logo-add {
  width: 40px;
  cursor: pointer;
}

.logo-add:hover {
  width: 42px;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  background-color: #ffffff;
}

nav {
  margin: auto;
  width: 100%;
}

nav > ul {
  margin-left: 410px !important;
  width: 25%;
}

.li-onclick {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 50px !important;
  height: 40px !important;
  padding: 0 !important;
}

.li-onclick:hover {
  border-color: #2a2a2a;
}

.active {
  border-color: #2a2a2a;
}

.li-notonclick {
  margin-right: 50px !important;
  height: 40px !important;
  padding: 0 !important;
}

ul > li > a {
  font-size: 30px;
  color: #2a2a2a;
  margin: auto;
}

select {
  width: 230px;
  height: 40px;
  padding: 5px;
  color: #2a2a2a;
}

.ul-filtre {
  margin-left: 0 !important;
  margin-right: 8% !important;
}

.li-filter {
  padding: 0;
  width: 60%;
}

.li-add {
  padding: 0;
  margin-top: 5px;
  margin-left: 50px;
}

.global {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.content-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  width: 28%;
  margin: auto;
  background: #fff;
  padding: 15px;
  margin-bottom: 40px;
  margin-top: 30px;
  align-content: center;
  display: grid;
}

hgroup > h2 {
  margin-bottom: 20px !important;
}

article > div > p {
  color: rgba(29, 29, 29, 0.87);
  font-size: 1.5rem;
}

.price {
  text-align: end;
  margin-top: 50px;
  margin-right: 15px;
}

article > div > button {
  margin: auto;
  padding: 5px 10px;
}

.default {
  text-align: center;
  margin-top: 8%;
  --h1-color: rgba(29, 29, 29, 0.253);
}

.center {
  text-align: center;
}

.isAliment {
  display: none;
}

.modal {
  overflow: visible;
}

.close {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.btns {
  display: flex;
  flex-direction: row;
}

.btns > button {
  margin: 10px;
}

input {
  color: #2a2a2a;
}

label {
  width: 90%;
  margin: auto;
}

.qtn {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.text-ali {
  font-weight: 600;
  --color: var(--muted-color);
  margin: auto;
  margin-right: 5px;
}

.gp-ali {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.qte {
  margin: auto;
  font-size: 18px;
  margin-left: 0;
  --font-weight: 500;
}

.basic-single {
  margin-bottom: 10px;
}

.basic-single > .select__control {
  border-color: var(--form-element-border-color) !important;
}

.basic-single > .select__control > .select__value-container {
  height: 50px;
}

.basic-single
  > .select__control
  > .select__value-container
  > .select__input-container {
  height: 50px;
}

.edit,
.supprimer {
  margin-right: auto;
  height: 20px;
}

.edit:hover,
.supprimer:hover {
  height: 22px;
}

.add {
  margin-right: auto;
  height: 20px;
}

.add:hover {
  height: 22px;
}

.ctn-add {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-bottom: 20px;
}

.logo-supp {
  width: 20px;
  margin-left: 90%;
  cursor: pointer;
}

.logo-supp:hover {
  width: 22px;
}

.supp-nom {
  text-align: center;
  color: #2a2a2a;
}

.css-ujecln-Input2 {
  height: 45px;
  margin: auto !important;
}

.react-select-container > .react-select__control {
  height: 45px;
  border-color: #2a2a2a;
}

.react-select-container > .react-select__control:hover {
  border-color: #512da8;
}

.react-select__control--is-focused {
  box-shadow: 0 0 0 1px #886dc5 !important;
}

.css-14el2xx-placeholder {
  font-size: 1rem;
}

.react-select__menu > .react-select__menu-list > .react-select__option {
  color: #2a2a2a;
}

.react-select__menu
  > .react-select__menu-list
  > .react-select__option--is-focused {
  background-color: #522da84f;
}

.react-select__menu
  > .react-select__menu-list
  > .react-select__option--is-selected {
  background-color: #522da88a;
}

.react-select__value-container {
  padding: 0px !important;
  padding-left: 12px !important;
}

.selectAliment {
  width: 90%;
  margin: auto;
}

.labelQte {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#loginform {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;
  margin-right: 18%;
}

#headerTitle {
  text-align: center;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
}

.row input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus {
  box-shadow: inset 0px -3px 0px 0px var(--primary-hover);
  outline: none;
}

.row input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.row label {
  align-self: start;
  padding-left: 2.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187, 187, 187, 0.9);
}

.row button {
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: linear-gradient(
    90deg,
    rgb(236, 220, 170) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover {
  opacity: 0.8;
  box-shadow: inset 0px -3px 0px 0px #522da896;
}

#button {
  padding-bottom: 1.5rem;
}

.login {
  display: flex;
  background-color: rgb(251, 242, 215);
}

.login-logo {
  margin: auto;
  margin-right: 130px;
}

.login-logo > .logo {
  height: 230px;
  width: 450px;
}
