:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(29, 29, 29, 0.87);
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #5e35b1;
  --primary-hover: #512da8;
  --primary-focus: transparent;
  --primary-inverse: #FFF;
}


.header {
  width: 100%;
  display: flex;
  top: 0px;
  position: relative;
  background-color: #ece9e1;
}

.nav {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  background-color: #ffffff;
}

ul {
  width: 100px;
}

nav {
  margin: auto;
}

ul {
  margin-left: -450px !important;
}

li {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 50px !important;
  height: 40px !important;
  padding: 0 !important;
}

li:hover {
  border-color: #000;
}
li:focus,
li:focus-visible {
  border-color: #000;
}

a {
  font-size: 30px;
  color: #2a2a2a;
  margin: auto;
}

.main {
  width: 60%;
  height: 400px;
  display: flex;
  margin: auto;
  margin-top: 50px;
  position: relative;
  background-color: rgba(99, 99, 99, 0.151);
  border-radius: 20px;
  border: 2px solid rgba(99, 99, 99, 0.719);
}

.c-logo {
  margin: auto;
  margin-left: 150px;
}

.logo {
  height: 160px;
  width: 300px;
  padding: 1.5em;
  will-change: filter;
  border-radius: 40px;
}

/* 
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;

  top: 0;
  position: fixed;
  width: 100%;
}

.title {
  text-align: left;
  margin: auto 0;
  margin-top: 70px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*/
